<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Pong Hub - Change Password</title>
    <link rel='shortcut icon' href='/assets/img/favicon.png' />
    <link rel='stylesheet' href='/assets/bulma.css' />
    <link rel='stylesheet' href='/assets/login.css' />
  </head>
  <body>
    <!-- React Component -->
    <div id='navbar'></div>

    <!-- React Component -->
    <div id='content-section'></div>

    <!-- React Component -->
    <div id='message-box'></div>

    <script src='/assets/changePasswordBundle.js'></script>
  </body>
</html>