<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Pong Hub - Change Password</title>
    <link rel='shortcut icon' href='/assets/img/favicon.png' />
    <link rel='stylesheet' href='/assets/bulma.css' />
    <link rel='stylesheet' href='/assets/login.css' />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class='navbar' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <a class='navbar-item' href='/'>
          <img src='/assets/img/logo.png' width='112' height='28' />
        </a>
        <a
          role='button'
          class='navbar-burger'
          aria-label='menu'
          aria-expanded='false'
          data-target='navbar-body'
        >
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </a>
      </div>
      
      <div id='navbar-body' class='navbar-menu'>
        <div class='navbar-end'>
          <div class='navbar-item'>
            <div class='buttons'>
              <a class='button is-light' href='/game'>Game</a>
              <a class='button is-light' href='/logout'>Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content Section -->
    <section class='section'>
      <div class='container'>
        <h2 class='title is-4'>Change Password</h2>
        <div id='content'>
          <!-- Form will be rendered here -->
        </div>
      </div>
    </section>

    <!-- Message Box -->
    <section class='section'>
      <div class='container'>
        <div id='msg-box' class='message is-danger'>
          <div id='error-msg-container' class='message-body' style='display: none;'>
            <p id='error-msg'>No errors yet</p>
          </div>
        </div>
      </div>
    </section>

    <script src='/assets/changePasswordBundle.js'></script>
  </body>
</html>