<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Pong Hub</title>
    <link rel='shortcut icon' href='/assets/img/favicon.png' />
    <link rel='stylesheet' href='/assets/bulma.css' />
    <link rel='stylesheet' href='/assets/login.css' />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class='navbar' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <a class='navbar-item' href='/'>
          <img src='/assets/img/logo.png' width='112' height='28' />
        </a>
        <a
          role='button'
          class='navbar-burger'
          aria-label='menu'
          aria-expanded='false'
          data-target='navbar-body'
        >
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </a>
      </div>

      <div id='navbar-body' class='navbar-menu'>
        <div class='navbar-end'>
          <div class='navbar-item'>
            <div class='buttons'>
              <a id='login-button' class='button is-light'>Login</a>
              <a id='signup-button' class='button is-light'>Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- React Component -->
    <div id='content-section'></div>

    <!-- React Component -->
    <div id='message-box'></div>

    <script src='/assets/loginBundle.js'></script>
  </body>
</html>