<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Pong Hub</title>
    <link rel='shortcut icon' href='/assets/img/favicon.png' />
    <link rel='stylesheet' type='text/css' href='/assets/login.css' />
  </head>
  <body>
    <nav>
      <div id='login-button' class='nav-button'>Login</div>
      <div id='signup-button' class='nav-button'>Sign up</div>
      <div id='change-password-button' class='nav-button'>Change Password</div>
    </nav>

    <section id='content'>

    </section>

    <div id='msg-box'>
      <p id='error-msg'>No errors yet</p>
    </div>

    <script src='/assets/loginBundle.js'></script>
  </body>
</html>